.postCard{

	width: 365px;
	
}

.cardContent{
	height: 55px;
	margin: 10px;
	
}

.contentText{
	
	
	height: 55px;
	width : 340px;
	display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}