.userProfile {
  display: flex;
  justify-content: space-between;
  padding: 80px 105px 55px 130px;
  align-items: flex-start;
  min-height: 91vh;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 482px;
  height: 657px;
  border-radius: 15px;
}
.userContact {
  height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding: 27px 15px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
}


.userDataCentr {
  display: flex;
  justify-content: center;
}

.userData {
  width: 400px;
  padding: 14px 0px 27px;
  border-bottom: 1px solid black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}

.userDataBlack {
  border-bottom: 1px solid white;
}

.userData img {
  width: 170px;
  height: 170px;
}

.userName {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.userName img {
  width: 28px;
  height: 28px;
  margin-left: 15px;
  cursor: pointer;
}

.cardNewPet {
  margin-right: 30px;
}

.cardNewPetHeader {
  width: 187px;
  height: 49px;
  border-radius: 10px 10px 0px 0px;
  background: rgba(241, 241, 241, 0.75);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  padding: 10px 3px;
}

.cardNewPetAdd {
  width: 187px;
  height: 187px;
  border: 2px solid rgba(241, 241, 241, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardNewPetAdd_black {
  border: 2px solid rgb(104, 100, 98);
}

.cardNewPetAdd img {
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cardNewPetAdd img:hover {
  transform: scale(1.5);
}

.petsContainer {
  width: 868px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 29px;
}

.cardImage {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 50px;
}

.petList {
  display: flex;
  flex-wrap: wrap;
}

.buttonAdd {
  margin: 60px 20px 0px 0px;
  width: 80px;
  height: 80px;
}

.petCard {
  margin: 0px 30px 30px 0px;
  cursor: pointer;
}

.petName {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: start;
  padding-left: 5px;
  width: 120px;
}

.cardMyPet {
  width: 187px;
  height: 187px;
  object-fit: cover;
  
}

.petPicture {
  position: relative;
  width: 132px;
  height: 164px;
}

.petImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.petContainer {
  position: relative;
}

.petDelete {
  position: absolute;
  left: 70%;
  cursor: pointer;
}
